@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

#home-fieldnotes {
    background-color: #eee;
    color: #000;

    h2 {
        color: #000;
    }

    .row.title-bar {
        display: flex;
        flex-direction: row;
        gap: 80px;

        .col:first-child {
            flex: 2;
        }
        .col:last-child {
            display: flex;
            flex: 1;
            justify-content: end;
            align-items: center;
        }
    }

    .call-to-action {
        .cta-link {
            border-color: #000;
            color: #000;

            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
    }

    .entries-grid {
        width: 100%;
        margin: 40px 0 50px;
        display: flex;
        flex-direction: row;
        gap: 30px;        
    }

    // .entries-grid {
    //     width: 100%;
    //     margin-top: 40px;
    //     display: grid;
    //     grid-template-areas:
    //         "a b"
    //         "a c";
    //     grid-template-columns: auto auto;
    //     grid-template-rows: auto auto;
    //     gap: 30px;

    //     .blog-item {
    //         padding: 40px;
    //         background-color: #fff;

    //         h3.blog-title {
    //             font-size: 30px;
    //             margin-bottom: 30px;
    //         }

    //         &:nth-child(1) {
    //             grid-area: a;
    //         }
    //         &:nth-child(2) {
    //             grid-area: b;
    //         }
    //         &:nth-child(3) {
    //             grid-area: c;
    //         }
    //     }
    // }
}