@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

#home-fieldnotes {
    background-color: #eee;
    color: #000;

    h2 {
        color: #000;
    }

    .row.title-bar {
        display: flex;
        flex-direction: row;
        gap: 80px;

        .col:first-child {
            flex: 2;
        }
        .col:last-child {
            display: flex;
            flex: 1;
            justify-content: end;
            align-items: center;
        }
    }

    .call-to-action {
        .cta-link {
            border-color: #000;
            color: #000;

            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
    }

    .entries-grid {
        width: 100%;
        margin: 40px 0 50px;
        display: flex;
        flex-direction: row;
        gap: 30px;        

        .blog-item-generic {
            &:nth-child(1) {
                flex: 3;
            }
        }
        
    }
}

@media (max-width: $screen-sm) { 

#home-fieldnotes {

    .row.title-bar {
        flex: 1;
    }

    .entries-grid {
        display: grid;
        grid-template-columns: 1fr;
        

        .blog-item-generic {
            height: 400px;
            width: 100%;
            display: block;

            &:nth-child(1) {
                flex: 1;
            }
        }
    }
}

}