@use '../../global' as *;

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 85vh;
    background-image: url('../../assets/test-hero-2.jpg');
    background-size: cover;
    background-position: 50% 50%;

    .intro {
        width: 70%;

        h1 {
            width: 100%;
            font-size: 60px;
            line-height: 60px;
            font-weight: 600;

            span {
                // background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
                color: $shade-d;  
            }
        }

        h2 {
            font-weight: 300;
            font-size: 30px;
            width: 50%;

            span.gid {
                color: $shade-d;
                font-weight: 600;
            }
        }
    }

    .actions {
        display: flex;
        align-items: center;
        gap: 25px;
        font-size: 24px;
        font-weight: 500;
        margin-top: 40px;

        a {
            text-decoration: none;
        }
    }
    

}

@media(max-width: 768px) {

   
}