@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

section#hero {
    padding: 0;
    height: 85vh;
    background-color: $swatch-1;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

    &:hover {
        .pic-chevron {
            opacity: 0.8;
            right: 14%;
            clip-path: polygon(30% 0%, 95% 0%, 70% 100%, 0% 100%);
            filter: saturate(90%);
        }
        img {
            transform: scale(1.1);
        }
    }

    .decor {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .code-wrapper {
            white-space: nowrap;
            overflow: hidden;
            display: flex;
        }

        .pseudocode {
            font-family: "Fira Code", "Courier New", Consolas, Menlo, Monaco, "Ubuntu Mono", "DejaVu Sans Mono", monospace;
            display: inline-block;
            padding-left: 100%;
            animation: scroll-left 130s linear infinite;
            font-size: 13rem;
            font-weight: 800;
            color: #1f1f1f;
        }

        .reverse {
            animation: scroll-right 130s linear infinite;
        }
    }

    .intro {
        margin-left: 15%;
    }

    h1 {
        font-size: 80px;
        line-height: 75px;
        margin-bottom: 20px;
        mix-blend-mode: difference;
    }

    p {
        font-size: 40px;
        line-height: 50px;
        font-weight: 100;
        letter-spacing: -1px;

        span.highlight {
            font-weight: 600;
        }
    }

    .highlight {    
        font-weight: 800;
    }

    .prog-tag {
        color: #666;
    }

    .intro {
        position: relative;
        z-index: 1;
    }

    .pic-chevron {
        position: absolute;
        opacity: 0.3;
        right: 10%;
        top: 20%;
        bottom: 20%;
        z-index: 0;
        overflow: hidden;
        clip-path: polygon(35% 0, 90% 0, 65% 100%, 5% 100%);
        filter: saturate(0%);
        transition: all 1s;

        img {
            height: 100%;
            transition: all 1s;
        }
    }

}

@media (max-width: $screen-lg) {

    section#hero {

        &:hover {
            .pic-chevron {
                right: 9%;
            }
        }

        .intro {
            margin-left: 10%;
        }

        .pic-chevron {
            right: 5%;
        }

    }

}

@media (max-width: $screen-md) {

    section#hero {
        height: 75vh;

        &:hover {
            .pic-chevron {
                right: -1%;
            }
        }

        .pic-chevron {
            right: -5%;
        }

    }

}

@media (max-width: $screen-sm) {

    section#hero {
        height: 65vh;

        &:hover {
            .pic-chevron {
                right: -16%;
            }
        }

        h1 {
            font-size: 60px;
            line-height: 55px;
        }

        p {
            font-size: 30px;
            line-height: 40px;
        }

        .intro {
            margin-left: 0;
        }

        .pic-chevron {
            right: -20%;
        }

    }

}