/* Fonts */
$global-font-family: 'Raleway';
$global-font-pixel: 'Tiny5', sans-serif;
$global-font-jp: 'Noto Sans JP', sans-serif;

/* Global colours */
$shade-a: #031e22;
$shade-b: #1a3541;
$shade-c: #204676;
$shade-d: #4affbb;
$shade-e: #010303;

/* Breakpoints */
$screen-lg: 1440px;
$screen-md: 992px;
$screen-sm: 768px;

$swatch-1: #1a1a1a;
$swatch-2: #ffc300;
$swatch-3: #fe0;

$default-bg-color: $shade-a;
$navbar-bg-color: #000;
$footer-bg-color: #000;