@use '../global' as *;

section.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 80px 0;
    background-image: url('../assets/about/header-bg.jpg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;

    .filter {
        position: absolute;
        top: 0;
        height: 50%;
        width: 100%;
        z-index: 1;
        background-image: url('../assets/global/pixel-filter.png');
    }

    h1 {
        font-size: 60px;
        line-height: 60px;
    }

    .g-content-container {
        position: relative;
        margin-top: 50px;
        z-index: 2;
    }

    .overview {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: start;
        justify-content: end;
        gap: 40px;

        .photo-geek {
            position: absolute;
            left: 0;
            top: 0;
            width: 250px;
            height: 250px;
            background: url('../assets/profile-photo-geek.jpg') 50% 50% / cover no-repeat;
            border-radius: 50%;
            z-index: -1;
        }
        
        .profile-main {
            flex: 3;
            margin-top: 50px;
            margin-left: 22%;
        
            h3 {
        
                &.name-dictionary {
                    font-size: 30px;
                    margin-bottom: 30px;
                    background-color: $shade-d;
                    color: #000;
                    display: inline-block;
                    padding: 10px 25px 10px 20px;
                    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%);
                    border-bottom: #fff 3px solid;
                }
            
                &.highlighter {
                    font-weight: 400;
                    margin-bottom: 30px;
            
                    div {
                        color: #000;
                        display: inline;
                        font-size: 25px;
                        line-height: 35px;
                        background: rgba(255, 255, 255, 0.8);
                    }
                }
                
            }
        
            p {
        
                a {
                    color: $shade-d;
                    text-decoration: underline;
                    font-weight: 600;
                }
        
                b {
                    color: $shade-d;
                    font-weight: 600;
                }
            }
        }
        
        .profile-misc {
            display: flex;
            flex-direction: column;
            flex: 2;
        
            .tags {
                list-style: none;
                margin: 30px 0;
                float: right;
            
                li {
                    width: 100%;
                    text-align: right;
                    font-size: 30px;
                    font-weight: 100;
                    transition: all 0.3s;
                    cursor: default;
                    font-weight: 200;
                    margin-right: 0;
            
                    &:nth-child(even) {
                        font-weight: 500;
                    }
            
                    &:hover {
                        color: $shade-d;
                        letter-spacing: 1px;
                        font-size: 35px;
                    }
                }
            }
        
            .geek-origin {
                font-size: 14px;
                line-height: 23px;
                margin-bottom: 30px;
                background-color: $shade-e;
                color: #ccc;
                display: inline-block;
                padding: 10px 25px 10px 20px;
                clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%);
                border-bottom: #fff 3px solid;
        
                h4 {
                    color: #eee;
                    font-size: 30px;
                    font-weight: 600;
                    margin: 10px 0 30px;
                }
            }
        
        }
        
        .actions {
            display: flex;
            align-items: center;
            gap: 25px;
            font-size: 24px;
            font-weight: 500;
            margin: 30px 0;
        
            &.social {
                flex-direction: column;
                align-items: start;
            }
        
            a {
                text-decoration: none;
            }
        }

    }
}

.off-the-grid {
    display: flex;
    flex-direction: column; 
    position: relative;
    align-items: center;
    gap: 40px;
    padding: 80px 0;
    background: #000 url('../assets/about/offgrid-1.jpg') 100% 50% / contain no-repeat;

    .filter {
        background-image: url('../assets/global/pixel-filter.png');
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .g-content-container {
        position: relative;
        z-index: 2;
    }

    h2 {
        font-size: 60px;
        line-height: 60px;
    }

    .language-selector {
        font-family: $global-font-jp;
        background-color: $shade-b;
        margin: 10px 0;
        justify-content: center;
        border-radius: 30px;
        width: 400px;
        padding: 10px 25px;
        display: flex;
        gap: 20px;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 300;

        p {
            padding: 3px 0;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                float: left;

                a {
                    display: inline-block;
                    text-decoration: none;
                    padding: 3px 10px;
                    margin: 0 10px;
                    color: #fff;

                    &.active {
                        color: #000;
                        background-color: $shade-d;
                        font-weight: 800;
                    }
                }
            }
        }
    }

    small {
        display: inline-block;
        background-color: #600;
        padding: 5px 10px;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    .col-a {
        width: 60%;

        p {
            background-color: rgba(0,0,0,0.8);

            &.jp {
                font-family: $global-font-jp;
            }
        }
    }
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 60px 0 0;

    h2 {
        font-size: 60px;
        line-height: 60px;
    }

    .showcase {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 15px;
        margin-bottom: 60px;

        a.social-item {
            background-color: #fff;
            height: 150px;
            border-radius: 20px;
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat;
            text-decoration: none;
            color: #fff;
            overflow: hidden;

            &:hover {

                .detail {
                    top: 0;
                }   
                
            }

            &.linkedin {
                background-image: url('../assets/about/social-linkedin.jpg');
            }

            &.twitter {
                background-image: url('../assets/about/social-twitter.jpg');
            }

            &.instagram {
                background-image: url('../assets/about/social-instagram.jpg');
            }

            &.twitch {
                background-image: url('../assets/about/social-twitch.jpg');
            }

            .detail {
                position: relative;
                flex: 1;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;
                align-items: center;
                width: 100%;
                background-color: rgba(0,0,0,0.9);
                top: 100%;
                transition: all .3s;

                i {
                    font-size: 60px;
                }
            }
        }
    }
}

// .about-title {
//     position: relative;
// }

// .about-title h1 {
//     padding: 0px 30px;
//     font-size: 80px;
//     font-weight: 600;
// }

// .about-title img {
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     z-index: -1;
// }

// .about-sections {
//     display: flex;
//     gap: 80px;
// }

// .about-right {
//     display: flex;
//     flex-direction: column;
//     gap: 80px;
// }

// .about-para {
//     display: flex;
//     flex-direction: column;
//     gap: 20px;
//     font-size: 24px;
//     font-weight: 500;
// }

// .about-skills {
//     display: flex;
//     flex-direction: column;
//     gap: 20px;
// }

// .about-skill {
//     display: flex;
//     gap: 50px;
//     align-items: center;
//     transition: 0.3s;
// }

// .about-skill:hover {
//     transform: scale(1.05);
//     transition: 0.3s;
// }

// .about-skill p {
//     min-width: 150px;
//     font-size: 24px;
//     font-weight: 500;
// }

// .about-skill hr {
//     outline: none;
//     border: none;
//     width: 50%;
//     height: 8px;
//     border-radius: 50px;
//     background: linear-gradient(264deg, #df8908 -5.09%, #bf15ff 106.28%);
// }

// .about-achievements {
//     display: flex;
//     width: 100%;
//     justify-content: space-around;
//     margin-bottom: 80px;
// }

// .about-achievement {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     gap: 10px;
//     transition: 0.5s;
// }

// .about-achievement:hover {
//     transform: scale(1.12);
//     transition: 0.5s;
// }

// .about-achievement h1 {
//     font-size: 60px;
//     font-weight: 700;
//     background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90.25%);
//     background-clip: text;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
// }

// .about-achievement p {
//     font-size: 22px;
//     font-weight: 500;
// }

@media (max-width: 992px) {

    .about {

        .overview {
            gap: 20px;

            .photo-geek {
                width: 200px;
                height: 200px;
            }

            .profile-main {
                margin-left: 175px;
            }

        }

    }

    .off-the-grid {
        background-position: 150%;
    }

    .socials {

        .showcase {
            grid-template-columns: 1fr 1fr;

            a.social-item {
                height: 200px;
            }

        }

    }

}

@media (max-width: 768px) {

    .about {

        .overview {
            flex-direction: column;

            .photo-geek {
                display: none;
            }

            .profile-main {
                margin-left: 0;
                margin-top: 0;
            }

            .profile-misc {

                .tags {
                    margin: 15px 0;;

                    li {
                        float: none;
                        display: inline-block;
                        text-align: left;
                        width: auto;
                        padding-right: 10px;
                    }
                }

            }

        }
    }

    .off-the-grid {
        background: #000;

        .col-a {
            width: 100%;
        }
    }

    .socials {

        .showcase {
            grid-template-columns: 1fr 1fr;
        }

    }

    // .about {
    //     gap: 80px;
    //     margin: 50px 70px;
    //     align-items: start;
    // }

    // .about-title h1 {
    //     font-size: 50px;
    //     padding: 0;
    // }

    // .about-title img {
    //     width: 130px;
    //     right: -20px;
    // }
    
    // .about-sections {
    //     flex-direction: column;
    // }

    // .about-left {
    //     display: none;
    // }

    // .about-para {
    //     font-size: 18px;
    //     line-height: 32px;
    // }

    // .about-skill {
    //     gap: 20px;
    //     align-items: center;
    // }

    // .about-skill p {
    //     font-size: 20px;
    // }

    // .about-skill hr {
    //     height: 6px;
    // }

    // .about-achievements {
    //     justify-content: space-between;
    // }

    // .about-achievement {
    //     gap: 10px;
    // }

    // .about-achievement h1 {
    //     font-size: 34px;
    //     font-weight: 700;
    // }

    // .about-achievement p {
    //     text-align: center;
    //     font-size: 15px;
    // }

}
