@use '../styles/variables' as *;
@use '../styles/mixins' as *;

@keyframes alert-shake {
    0% { transform: translateX(0) }
    20% { transform: translateX(5px) rotate(2deg) }
    40% { transform: translateX(-5px) rotate(-2deg) }
    65% { transform: translateX(5px) rotate(2deg) }
    80% { transform: translateX(-5px) rotate(-2deg) }
    100% { transform: translateX(0) }
}

.page-title-bar.about {
    background-color: $swatch-2;
    color: #000;
}

main.page-about {
    background-color: #fff;
    color: #000;
}

section#about-profile  {
    padding-top: 30px;

    .overview {
        display: flex;
        position: relative;
        align-items: start;
        justify-content: end;
        gap: 40px;

    }

    .profile-photo {
        position: absolute;
        left: 0;
        top: 0;
        width: 25%;
        max-width: 300px;
        z-index: 0;

        img {
            border-radius: 50%;
        }

    }

    .profile-main {
        display: flex;
        flex: 4;
        flex-direction: column;
        gap: 20px;
        position: relative;
        top: 20px;
        z-index: 1;

        .heading {
            position: relative;
            margin-left: 25%;
            margin-top: 40px;

            &:hover {
                h3.popup {
                    animation: alert-shake 0.4s 1;
                }
            }

            h3 {
    
                &.name-dictionary {
                    position: relative;
                    z-index: 1;
                    font-size: 30px;
                    margin-bottom: 30px;
                    background-color: #333;
                    color: #fff;
                    display: inline-block;
                    padding: 10px 25px 10px 20px;
                    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%);
                    border-bottom: #ccc 3px solid;

                    small {
                        font-size: 70%;
                        font-weight: 400;
                    }
                }

                &.popup {
                    padding: 5px 10px;
                    background-color: #369;
                    border-radius: 8px;
                    border-bottom: #ccc 2px solid;
                    color: #fff;
                    position: absolute;
                    z-index: 2;
                    top: 45px;
                    left: 50px;
                    animation: none;
                }
            
                &.highlighter {
                    font-weight: 400;
                    margin-bottom: 30px;

                    div {
                        position: relative;
                        color: #000;
                        display: inline;
                        font-size: 25px;
                        line-height: 35px;
                        background: rgba(220, 220, 220, 0.8);

                        sup {
                            position: relative;
                            bottom: 0;
                            font-size: 80%;
                            line-height: 5px;
                        }
                    }
                }
            }
        }

        .body-content {
            margin-left: 15%;

            hr.divider {
                border: none;
                border-top: #333 1px dotted;
                margin-bottom: 30px;
            }
            
            p {
                a {
                    color: $swatch-2;
                    text-decoration: underline;
                    font-weight: 600;
                }
        
                b {
                    font-weight: 800;
                }

                &.footnote {
                    font-size: 14px;
                    font-style: italic;
                }
            }

            .background-data {
                margin-top: 30px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-gap: 20px;
                grid-row-gap: 20px;
                
                h3 {
                    font-size: 22px;
                    font-weight: 800;
                    text-transform: lowercase;

                    span {
                        color: #aaa;
                    }
                }

                hr.sub-divider {
                    margin: 15px 0 15px;
                    border: none;
                    border-top: $swatch-2 3px solid;
                    width: 25px;
                }

                p {
                    color: #333;
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 25px;
                }

                span.job-type {
                    display: inline-block;
                    border-radius: 2px;
                    transform: translateY(-2px);
                    color: #000;
                    font-size: 12px;
                    line-height: 12px;
                    font-weight: bold;
                    padding: 3px 5px;

                    &.f {
                        background-color: $swatch-2;
                    }
                    &.p {
                        background-color: $swatch-3;
                    }
                }

            }
        }

        .actions {
            display: flex;
            align-items: center;
            gap: 25px;
            font-size: 24px;
            font-weight: 500;
            margin-top: 30px;
        
            &.social {
                flex-direction: column;
                align-items: start;
            }
        
            a {
                text-decoration: none;
            }
        }
    }

    .profile-misc {
        display: flex;
        flex-direction: column;
        flex: 1;
    
        .tags {
            list-style: none;
            margin: 30px 0;
            float: right;
        
            li {
                width: 100%;
                text-align: right;
                font-size: 45px;
                line-height: 43px;
                font-weight: 100;
                transition: all 0.3s;
                cursor: default;
                font-weight: 200;
                margin-right: 0;
                transition: 0.2s;
                position: relative;
                color: #666;
        
                &:hover {
                    scale: 1.2;
                    z-index: 3;
                    text-shadow: 0 0 20px #fff;
                    color: $swatch-2;
                    letter-spacing: 1px;
                    font-weight: 800;
                    // font-size: 35px;
                }
                &:has(+ li:hover),
                &:hover + li {
                    scale: 1.1;
                    z-index: 2;
                    font-weight: 300;
                    //color: lighten($swatch-2, 20%);
                    //color: #999;
                }

            }
        }        
    }

}

section#off-the-grid {
    display: flex;
    flex-direction: column; 
    position: relative;
    align-items: center;
    gap: 40px;
    //padding: 80px 0;
    background: #000 url('../assets/about/offgrid-1.jpg') 100% 50% / contain no-repeat;
    color: #fff;

    .filter {
        background-image: url('../assets/global/pixel-filter.png');
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .content-container {
        position: relative;
        z-index: 2;
    }

    h2 {
        color: #fff;
        // font-size: 60px;
        // line-height: 60px;
    }

    .language-selector {
        font-family: $global-font-jp;
        background-color: #333;
        margin: 20px 0;
        display: flex;
        justify-content: start;
        align-self: flex-start;
        align-items: center;
        border-radius: 30px;
        padding: 10px 25px;
        display: flex;
        text-transform: uppercase;

        div:first-child {
            width: 90px;
            display: flex;
        }

        p {
            font-size: 14px;
            letter-spacing: 2px;
            font-weight: 300;
            margin-bottom: 0;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                float: left;

                img {
                    width: 30px;
                }

                a {
                    display: inline-block;
                    text-decoration: none;
                    padding: 3px 10px 0 10px;
                    margin: 0 10px;
                    color: #fff;
                    border-radius: 5px;

                    &.active {
                        color: #000;
                        background-color: $swatch-2;
                        font-weight: 800;
                    }
                }
            }
        }
    }

    small {
        display: inline-block;
        background-color: #600;
        padding: 5px 10px;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    .col-a {
        width: 60%;

        p {
            background-color: rgba(0,0,0,0.8);

            &.jp {
                font-family: $global-font-jp;
            }
        }
    }
}

section#branding {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: #fff;
    align-items: center;

    .row {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;

        .brand {
            flex: 1;
            img {
                max-width: 500px;
            }
        }
        .content {
            flex: 2;
        }
    }
}

@media (max-width: $screen-lg) {

    section#about-profile {

        .profile-main {

            .body-content {
                margin-left: 10%;

                .background-data {
                    grid-template-columns: 1fr 1fr;
                }

            }

        }

        .profile-misc {
            .tags {
                li {
                    font-size: 35px;
                    line-height: 35px;
                }
            }
        }

    }

}

@media (max-width: $screen-md) {

    section#about-profile {

        .profile-main {

            .body-content {
                margin-left: 5%;                
            }

        }

        .profile-misc {

            .tags {

                li {
                    font-size: 30px;
                    line-height: 30px;
                }

            }

        }

    }

    section#off-the-grid {
        background-position: 160% 50%;
    }

}

@media (max-width: $screen-sm) {

    section#about-profile {

        .overview {
            flex-direction: column;
        }

        .profile-photo {
            display: none;
        }

        .profile-main {

            .heading {
                margin-left: 0;
                margin-top: 0;
            }

            .body-content {
                margin-left: 0;

                .background-data {
                    grid-template-columns: 1fr;
                }
            }

        }

        .profile-misc {

            ul.tags {
                display: none;
            }

        }

    }

    section#off-the-grid {
        background-image: none;

        .col-a {
            width: 95%;
        }
    }

    section#branding {
        .row {
            flex-direction: column;

            .brand {
                img {
                    width: 380px;
                    margin: 0;
                }
            }
        }
    }

}