@use '../styles/variables' as *;
@use '../styles/mixins' as *;

@keyframes highlight-new {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes live {
    0% {
        border: #fff 4px solid;
    }
    50% {
        border: #c00 4px solid;
    }
    100% {
        border: #fff 4px solid;
    }
}

section#live-stream {

    .live-indicator span {
        display: inline-block;
        margin-bottom: 20px;
        text-transform: uppercase;
        padding: 10px 20px;
        font-size: 40px;
        border-radius: 20px;
        background-color: #000;
        animation: live 0.75s infinite;
        font-weight: 800;
    }

    .call-to-action {
        a.cta-link {
            background-color: #f66;
            border: none;

            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    }
}

section#now-playing, 
section#live-stream {
    background-color: #000;
    height: 85vh;
    position: relative;
    padding: 0;

    h1 {
        font-size: 30px;
        line-height: 35px;

        &.live-title {
            max-width: 40%;
        }
    }

    .carousel-now-playing {
        .swiper {
            width: 100%;
            height: 100%;
        }
    
        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
            background: #fff;
        }
    
        .swiper-button-prev,
        .swiper-button-next {
            color: #fff;
            padding: 10px;
        }
    }

    .back-screen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        z-index: 0;
        opacity: 1;
    }

    .back-screen .filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../assets/twitch/slideshow-filter.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        z-index: 1;
    }


    .content-container {
        position: relative;
        z-index: 1;
        height: 100%;
        justify-content: end;
    }

    .page-title-box {
        display: flex;
        flex-direction: column;

        .descriptor {
            margin-bottom: 40px;
        }
    
        .event-logo {
            max-width: 350px;
            margin-bottom: 30px;
        }

        p {
            max-width: 40%;

            &.schedule {
                font-weight: 500;
                font-size: 14px;
                color: #ccc;
                margin-bottom: 20px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &.dark {
            color: #fff;
        }

        &.lite {
            color: #000;
        }


    }

    .call-to-action {
        margin-bottom: 80px;

        a:hover {
            background-color: #fff;
        }

    }

    
}

section#rotation {
    background-color: #232323;
    color: #fff;

    .navigator {
        display: flex;
        margin-top: 15px;
        flex-direction: row;
        gap: 15px;

        .lb-prev, .lb-next, .pc-prev, .pc-next {
            color: #000;
            background-color: $swatch-2;
            padding: 5px 30px;
            border-radius: 13px;
            font-size: 20px;
            cursor: pointer;

            &.swiper-button-disabled {
                background-color: #333;
                color: #222;
                cursor: default;
            }
        }
    }

    .clips-area {
        margin: 0 0 10px;
        display: flex;
        flex-direction: row;        

        .clip-item {
            border-bottom: #666 1px dotted;
            display: flex;
            flex-direction: column;
            text-decoration: none;

            &:hover {
                .preview {
                    img {
                        opacity: 0.6;
                    }
                }
            }

            & > :last-child {
                margin-top: auto;
            }

            .preview {
                position: relative;
                margin-bottom: 10px;

                .live {
                    position: absolute;
                    top: 4px;
                    left: 15px;
                    background-color: #c00;
                    color: #fff;
                    text-transform: uppercase;
                    padding: 5px 10px;
                    font-size: 14px;
                    font-weight: 600;
                    z-index: 2;
                    animation: highlight-new 0.5s infinite;
                }

                .new {
                    position: absolute;
                    top: 4px;
                    left: 15px;
                    background-color: $swatch-2;
                    color: #000;
                    text-transform: uppercase;
                    padding: 5px 10px;
                    font-size: 14px;
                    font-weight: 600;
                    z-index: 2;
                    animation: highlight-new 0.5s infinite;
                }

                .clipper {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    font-size: 12px;
                    background-color: #232323;
                    color: #fff;
                    padding: 8px 15px 8px 10px;
                    z-index: 2;
                    border-top-right-radius: 15px;

                    b {
                        color: #e00;
                    }
                }
            }

            img {
                position: relative;
                border-top-left-radius: 30px;
                border-bottom-right-radius: 30px;
                z-index: 1;
                transition: all 0.3s;
            }

            h4 {
                font-size: 18px;
                color: $swatch-2;
            }

            p {
                color: #eee;
              
                &.schedule {
                    font-size: 14px;
                    line-height: 18px;
                    margin-bottom: 10px;
                }
                &.view-count {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 0;
                    font-size: 14px;
                    line-height: 28px;

                    span, i {
                        flex: 1;
                    }

                    i {
                        display: flex;
                        justify-content: end;
                        color: $swatch-2;
                    }
                }
            }
        }
    }

    .carousel-latest-broadcasts,
    .carousel-popular-clips {
        margin: 20px 0 30px;

        .swiper {
            width: 100%;
            height: 100%;
          }

        .swiper-slide {
            display: flex;
        }
        
    }

}

section#twitch-history {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    padding: 0;
    background-color: #fff;
    color: #000;

    .col-1 {
        flex: 1;
        background-color: #000;

        .video-wall.twitch-footage {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .video-filter {
                background-image: url('../assets/global/pixel-filter.png');
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }

            video {
                position: absolute;
                top: 50%;
                right: 0;
                min-height: 100%;
                min-width: 100%;
                transform: translateY(-50%);
                object-fit: cover;
                z-index: 0;
            }
        }
    }

    .col-2 {
        display: flex;
        align-items: center;
        flex: 1; 

        .contents {
            padding: 80px;
            max-width: 60%;
        }

        h2 {
            font-size: 50px;
            margin-bottom: 30px;
        }

    }

}

section#community {
    background-color: $swatch-2;
    color: #000;

    h2 {
        margin-bottom: 30px;
    }

    .call-to-action {
        flex-direction: column;
        align-items: start;

        a.cta-link {
            border-color: #000;
            color: #000;

            &:hover {
                background-color: #000;
                color: $swatch-2;
            }
        }
    }

    .content-container {
        flex-direction: row;
        gap: 80px;
    }

    .information {
        flex: 2;
    }
    .staff {
        flex: 1;
        .staff-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 5px;
            grid-column-gap: 5px;
            .item {
                position: relative;
                .polaroid {
                    box-shadow: #ccc 0 0 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #eee;
                    padding: 10px 10px 20px 10px;
                    transition: all 0.5s;
                    transform: rotate(4deg) scale(0.9);
                    img {
                        width: 100%;
                    }
                    h4 {
                        margin-top: 15px;
                    }
                    i {
                        color: $swatch-2;
                    }
                    &.the13thgeek {
                        position: absolute;
                        z-index: 2;
                        transform: rotate(-2deg) scale(1.1);
                        &:hover {
                            transform: rotate(2deg) scale(1.2);
                        }
                    }

                    &:hover {
                        transform: rotate(-2deg) scale(1.2);
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-lg) {

    section#now-playing,
    section#live-stream {

        .back-screen {
            background-size: cover;

            .filter {
                background-size: cover;
                background-position: 0% 100%;
            }
        }
        

    }

    section#community {
        .information {
            flex: 1;
        }
        .staff {
            flex: 1;
        }
    }

}

@media (max-width: $screen-md) {

    section#now-playing,
    section#live-stream {
        height: 65vh;

        h1 {
            &.live-title {
                font-size: 30px;
                max-width: 60%;
            }
        }

        .page-title-box {
            margin-left: 30px;

            p {
                font-size: 14px;
                line-height: 22px;
            }
            .event-logo {
                max-width: 250px;
            }
        }
        .call-to-action {
            margin-left: 30px;
            margin-bottom: 50px;
        }

    }

    section#twitch-history {
        flex-direction: column;
        .col-1 .video-wall.video-wall.twitch-footage {
            height: 600px;
        }
        .col-2 {
            .contents {
                padding: 60px;
            }
        }
    }

    section#rotation {

        // .streams-list {
        //     grid-template-columns: 1fr 1fr 1fr;
        // }

    }

    section#community {
        .staff {
            .staff-grid {
                .item {
                    .polaroid {
                        h4 {
                            font-size: 11px;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }

}

@media (max-width: $screen-sm) {

    section#live-stream {
        .live-indicator span {
            font-size: 20px;
        }
    }

    section#now-playing,
    section#live-stream {
        height: 55vh;

        h1 {
            font-size: 25px;
            line-height: 32px;
            &.live-title {
                max-width: 80%;
            }
        }

        .page-title-box {
            margin-left: 60px;
    
            p {
                font-size: 14px;
                line-height: 22px;

                &.caption {
                    display: none;
                }
                &.schedule {
                    margin-bottom: 0;
                }

            }
            .event-logo {
                max-width: 150px;
            }
        }
        .call-to-action {
            margin-left: 60px;
            margin-bottom: 50px;
        }
    }

    section#twitch-history {
        .col-1 {
            display: none;
        }
        .col-2 {
            .contents {
                padding: 40px;
                max-width: 90%;
            }
        }
    }

    section#rotation {

        .streams-list {
            //grid-template-columns: 1fr 1fr;

            .clip-item {
                p.schedule {
                    margin-bottom: 10px;
                }
            }
        }

    }

    section#community {
        .content-container {
            .staff {
                display: none;
            }
        }
    }

}