@use '../styles/variables' as *;
@use '../styles/mixins' as *;

@keyframes from-right {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes from-bottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes highlight-new {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

section#rotation {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #333;
    gap: 50px;

    .row {
        display: flex;
        flex-direction: row;
        gap: 30px;

        .col-info {
            padding-left: 80px;
            width: 30%;
        }

        .col-clips {
            position: relative;
            width: 70%;

            .shader {
                position: absolute;
                bottom: 0;
                background-color: lighten(#6441a5, 40%);
                width: 100%;
                height: 60%;
                z-index: 1;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
            }
        }
    }

    .navigator {
        display: flex;
        margin-top: 15px;
        flex-direction: row;
        gap: 15px;

        .lb-prev, .lb-next, .pc-prev, .pc-next {
            color: #fff;
            background-color: #6441a5;
            padding: 22px 30px;
            border-radius: 50%;
            font-size: 20px;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                background-color: lighten(#6441a5,13%);
            }

            &.swiper-button-disabled {
                background-color: #ccc;
                color: #999;
                cursor: default;
            }
        }
    }

    .clips-area {
        margin: 0 0 10px;
        width: 100%;
        position: relative;
        z-index: 2;
        margin-left: 30px;
        
        .swiper-slide {
            width: 300px;
        }

        .tag span {
            display: inline-block;
            font-weight: 600;
            color: #fff;
            font-size: 12px;
            line-height: 10px;
            padding: 6px 8px;
            border-radius: 3px;
            background-color: #232323;
            text-transform: uppercase;

            &.live {
                background-color: #c00;
            }
            &.vod {
                background-color: #6441a5;
            }
            &.clip {
                background-color: #060;
            }
        }

        .clip-item {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            padding: 10px 15px;
            transition: all 0.3s;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            &:hover {
                background-color: rgba(255,255,255,0.9);
            }

            & > :last-child {
                margin-top: auto;
            }

            .preview {
                position: relative;
                margin-bottom: 10px;

                .live {
                    position: absolute;
                    top: 4px;
                    left: 15px;
                    background-color: #c00;
                    color: #fff;
                    text-transform: uppercase;
                    padding: 5px 10px;
                    font-size: 14px;
                    font-weight: 600;
                    z-index: 2;
                    animation: highlight-new 0.5s infinite;
                }

                .new {
                    position: absolute;
                    top: 4px;
                    left: 15px;
                    background-color: #ff0;
                    color: #000;
                    text-transform: uppercase;
                    padding: 5px 10px;
                    font-size: 14px;
                    font-weight: 600;
                    z-index: 2;
                    animation: highlight-new 0.5s infinite;
                }

                .clipper {
                    position: absolute;
                    bottom: 4px;
                    left: 0;
                    font-size: 12px;
                    background-color: #6441a5;
                    color: #fff;
                    padding: 8px 15px 8px 10px;
                    z-index: 2;
                    border-top-right-radius: 15px;

                    b {
                        color: #ff0;
                    }
                }
            }

            img {
                position: relative;
                border-top-left-radius: 30px;
                border-bottom-right-radius: 30px;
                z-index: 1;
                transition: all 0.3s;
                box-shadow: 8px 5px 0 #6441a5;
            }

            h4 {
                font-size: 18px;
                color: #000;
                margin-bottom: 3px;
            }

            p {
                color: #333;
                margin-bottom: 5px;
              
                &.schedule {
                    font-size: 14px;
                    line-height: 18px;
                    margin-bottom: 10px;
                }
                &.view-count {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 0;
                    font-size: 14px;
                    line-height: 28px;

                    span, i {
                        flex: 1;
                    }

                    i {
                        display: flex;
                        justify-content: end;
                        color: #6441a5;
                    }
                }
            }
        }
    }

    .carousel-latest-broadcasts,
    .carousel-popular-clips {
        margin: 0;

        .swiper {
            width: 100%;
            height: 100%;
          }

        .swiper-slide {
            display: flex;
        }
        
    }

}

section#twitch-history {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    padding: 0;
    background-color: #6441a5;
    color: #fff;

    .col-1 {
        flex: 1;
        background-color: #000;

        .video-wall.twitch-footage {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .video-filter {
                background-image: url('../assets/global/pixel-filter.png');
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }

            video {
                position: absolute;
                top: 50%;
                right: 0;
                min-height: 100%;
                min-width: 100%;
                transform: translateY(-50%);
                object-fit: cover;
                z-index: 0;
            }
        }
    }

    .col-2 {
        display: flex;
        align-items: center;
        flex: 1; 

        .contents {
            padding: 80px;
            max-width: 60%;
        }

        h2 {
            font-size: 50px;
            margin-bottom: 30px;
        }

    }

}

section#community {
    background-color: $swatch-2;
    color: #000;

    h2 {
        margin-bottom: 30px;
    }

    .call-to-action {
        flex-direction: column;
        align-items: start;

        a.cta-link {
            border-color: #000;
            color: #000;

            &:hover {
                background-color: #000;
                color: $swatch-2;
            }
        }
    }

    .content-container {
        flex-direction: row;
        gap: 80px;
    }

    .information {
        flex: 2;
    }
    .staff {
        flex: 1;
        .staff-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 5px;
            grid-column-gap: 5px;
            .item {
                position: relative;
                .polaroid {
                    box-shadow: #ccc 0 0 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #eee;
                    padding: 10px 10px 20px 10px;
                    transition: all 0.5s;
                    transform: rotate(4deg) scale(0.9);
                    img {
                        width: 100%;
                    }
                    h4 {
                        margin-top: 15px;
                    }
                    i {
                        color: $swatch-2;
                    }
                    &.the13thgeek {
                        position: absolute;
                        z-index: 2;
                        transform: rotate(-2deg) scale(1.1);
                        &:hover {
                            transform: rotate(2deg) scale(1.2);
                        }
                    }

                    &:hover {
                        transform: rotate(-2deg) scale(1.2);
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-lg) {

    section#community {
        .information {
            flex: 1;
        }
        .staff {
            flex: 1;
        }
    }

}

@media (max-width: $screen-md) {

    section#rotation {
        h2 {
            font-size: 40px;
        }

        .row {
            display: flex;
            flex-direction: row;
            gap: 30px;
    
            .col-info {
                padding-left: 60px;
                width: 40%;
            }
    
            .col-clips {
                position: relative;
                width: 60%;
    
                .shader {
                    background-color: lighten(#6441a5, 40%);
                    height: 60%;
                }
            }
        }

        .clips-area {
            .swiper-slide {
                width: 220px;
            }
        }  
    }

    section#twitch-history {
        flex-direction: column;
        .col-1 .video-wall.video-wall.twitch-footage {
            height: 600px;
        }
        .col-2 {
            .contents {
                padding: 60px;
            }
        }
    }

    section#community {
        .staff {
            .staff-grid {
                .item {
                    .polaroid {
                        h4 {
                            font-size: 11px;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }

}

@media (max-width: $screen-sm) {

    section#rotation {
        h2 {
            font-size: 30px;
        }

        .row {
            display: flex;
            flex-direction: column;
            gap: 20px;
    
            .col-info {
                padding-left: 20px;
                width: 100%;
            }
    
            .col-clips {
                width: 100%;
            }
        }

        .clips-area {
            .swiper-slide {
                width: 175px;
            }
        }  
    }

    section#twitch-history {
        .col-1 {
            display: none;
        }
        .col-2 {
            .contents {
                padding: 40px;
                max-width: 90%;
            }
        }
    }

    section#rotation {

        .streams-list {
            //grid-template-columns: 1fr 1fr;

            .clip-item {
                p.schedule {
                    margin-bottom: 10px;
                }
            }
        }

    }

    section#community {
        .content-container {
            .staff {
                display: none;
            }
        }
    }

}