@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

nav.global {
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: center;

    .content-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    img.header-logo {
        max-height: 50px;
    }
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 20px;

    li {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;

        a {            
            font-weight: 400;
            color: #fff;
            font-size: 12px;
            line-height: 12px;
            letter-spacing: 2px;
            padding: 8px 13px 5px;
            border-bottom: transparent 3px solid;
            border-radius: 5px;

            &.current {
                position: relative;
                background-color: #eee;
                font-weight: 800;
                color: #000;

                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: -9px;
                    transform: translateX(-50%);
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid #eee;
                  }
            }
        }

        

        img {
            display: flex;
            margin: auto;
        }
    }

}

.header-link {
    text-decoration: none;
}

.anchor-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
}

.nav-connect {
    @include boxgradient($deg: 90deg, $color1: $swatch-2, $color2: $swatch-3);
    padding: 5px 30px;
    border-radius: 50px;
    font-size: 18px;
    line-height: 18px;    
    cursor: pointer;
    transition: 0.5s;

    a {
        color: #000;
        font-weight: 900;
    }
}

.nav-connect:hover {
    background: #fff;
    transform: scale(1.05);
}

.nav-mob-close,
.nav-mob-open {
    display: none;
}

@media(max-width: $screen-md) {
    .nav-menu {
        gap: 10px;
    }
}

@media(max-width: $screen-sm) {
    
    // nav.global {
    //     margin: 20px 50px;
    // }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        left: 30px;
        cursor: pointer;
        font-size: 23px;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
        cursor: pointer;
        font-size: 23px;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #000;
        width: 350px;
        height: 100%;
        z-index: 50;
        transition: left 0.5s;
        left: -350px;
    }

    .nav-menu li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }

}